<div class="card cf">
 	<div class="textintro">
 		<h2>add a listing</h2>
 		<p>type a listing name and hit ' + ' </p>
 	</div>

 	<form class="formgroup addlisting cf" name="myform" ng-submit="addListing()" novalidate>
 		<div class="inputwrapper">
 			<input type="text" name="listingname" placeholder="Listing name" ng-model="listingname" ng-required="true">
 		</div>

 		<button type="submit" class="btn" ng-disabled="myform.$invalid">+</button>
 		
 	</form>
 	<br>
 	<h2>your listings:</h2>


	 	<div class="listing" ng-repeat="(key, listing) in listings">
 	  		<button class="btn btn-delete tooltip" 
 	  			ng-click="deleteListing(key)">
 	  			<span>Delete this listing</span>
 	  		</button>

 	  		<a class="btn btn-checkin tooltip" ng-href="#/checkins/{{currentUser.regUser}}/{{listing.$id}}">
 	  		    <span>Go to check-in URL</span>
 	  		</a>
 	  		
 	  		<a class="btn btn-list tooltip" ng-href="#/checkins/{{currentUser.regUser}}/{{listing.$id}}/checkinsList">
 	  			<span>View of the checked-in Listings</span>
			</a>
 	  		<span class="text">{{listing.name}}</span>
	 	</div>
 </div> 
