<section class="card signup">
	<form name="myform" ng-submit="signup()" novalidate>
		<div class="textintro">
			<h2>Sign Up</h2>
			<h4>sign up & let's get the party started!</h4>
			<p class="message" ng-show="message">{{message}}</p>
		</div>

		<fieldset>
			<input type="firstname" name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true">
			<p class="error validationerror" ng-show="myform.firstname.$invalid && myform.firstname.$touched">Password required</p>

			<input type="lastname" name="lastname" placeholder="Last Name" ng-model="user.lastname" ng-required="true">
			<p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">Password required</p>

			<input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true">
			<p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>

			<input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true">
			<p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password is required</p>
		</fieldset>

		<button type="submit" class="btn" ng-disabled="myform.$invalid">SignUp</button>
		<p>Or <a href="/login">Login</a></p>
	</form>
</section>