<section class="signup">
 	<form name="myform">
 		<div class="textintro">
 			<h2>Sign Up</h2>
 			<P>Please sign up & get the party started!</P>
 		</div>
 
 		<fieldset>
 			<input type="firstname" name="firstname" placeholder="First Name">
 			<input type="lastname" name="lastname" placeholder="Last Name">
 			<input type="email" name="email" placeholder="Email">
 			<input type="password" name="password" placeholder="Password">
 		</fieldset>
 
 		<button type="submit" class="btn">SignUp</button>
 		<P>Or<a href="#/login">Login</a></P>
 	</form>
 </section> 
